    /*
    Flaticon icon font: Flaticon
    Creation date: 16/02/2021 00:01
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-info:before { content: "\f100"; }
.flaticon-id-card:before { content: "\f101"; }
.flaticon-play-button:before { content: "\f102"; }
.flaticon-cancel:before { content: "\f103"; }
.flaticon-confirm:before { content: "\f104"; }
.flaticon-profile-user:before { content: "\f105"; }
.flaticon-pencil:before { content: "\f106"; }
.flaticon-pdf-file:before { content: "\f107"; }
.flaticon-document:before { content: "\f108"; }
.flaticon-eye:before { content: "\f109"; }
    
    $font-Flaticon-info: "\f100";
    $font-Flaticon-id-card: "\f101";
    $font-Flaticon-play-button: "\f102";
    $font-Flaticon-cancel: "\f103";
    $font-Flaticon-confirm: "\f104";
    $font-Flaticon-profile-user: "\f105";
    $font-Flaticon-pencil: "\f106";
    $font-Flaticon-pdf-file: "\f107";
    $font-Flaticon-document: "\f108";
    $font-Flaticon-eye: "\f109";