@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot"); /*Cambia LA URL DE LA CARPETA DE LA FUENTE*/
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"), /*Cambia LA URL DE LA CARPETA DE LA FUENTE*/
       url("../font/Flaticon.woff2") format("woff2"), /*Cambia LA URL DE LA CARPETA DE LA FUENTE*/
       url("../font/Flaticon.woff") format("woff"), /*Cambia LA URL DE LA CARPETA DE LA FUENTE*/
       url("../font/Flaticon.ttf") format("truetype"), /*Cambia LA URL DE LA CARPETA DE LA FUENTE*/
       url("../font/Flaticon.svg#Flaticon") format("svg"); /*Cambia LA URL DE LA CARPETA DE LA FUENTE*/
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg"); /*Cambia LA URL DE LA CARPETA DE LA FUENTE*/
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-info:before { content: "\f100"; }
.flaticon-id-card:before { content: "\f101"; }
.flaticon-play-button:before { content: "\f102"; }
.flaticon-cancel:before { content: "\f103"; }
.flaticon-confirm:before { content: "\f104"; }
.flaticon-profile-user:before { content: "\f105"; }
.flaticon-pencil:before { content: "\f106"; }
.flaticon-pdf-file:before { content: "\f107"; }
.flaticon-document:before { content: "\f108"; }
.flaticon-eye:before { content: "\f109"; }

/*========== EOD Styles ============= */
.flaticon-eye{
  color: #5691c9;
  font-size: 2rem;
}
